repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.6
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://foundry.fsky.io/vel/ty-pre-commit
    # ty version
    rev: 0.0.1-alpha.27
    hooks:
      # run `ty check`
      - id: ty-check
